* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

section {
  border: 1px solid black;
  max-width: 750px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin: 0 18px;

  h1 {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
  }

  img {
    width: 25px;
    height: 25px;
  }
}

.type-red {
  text-align: center;
  background-color: red;
  border-radius: 15px;
  margin: 35px 25px;
  padding: 15px;

  h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
  }
}

.hand-shake {
  display: flex;
  justify-content: center;

  img {
    width: 350px;
  }
}

.input-here {
  margin: 35px auto;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 635px;

  .input-1 {
    padding: 15px;
    border-radius: 25px;
    margin: 15px;
    font-size: 25px;
    border: 3px solid #c0c0c0;
  }

  a {
    text-align: right;
    margin-right: 1.3em;
    color: #075baa;

    &:hover {
      color: #097fee;
    }
  }
}

.login-block {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  button {
    background: #3498db;
    border-radius: 10px;

    width: 605px;
    padding: 25px;

    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;

    color: #ffffff;
  }
}

.line-block {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19.5px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #c0c0c0;
  }

  img {
    margin: 0 15px;
    height: 5px;
    width: 150px;
  }
}

.input-value {
  margin: 20px auto;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 635px;

  .input-1 {
    padding: 15px;
    border-radius: 25px;
    margin: 15px;
    font-size: 25px;
    border: 3px solid #c0c0c0;
  }
}
